/* SearchBox.jsx */

/* TODO: transition back to text-align center */

.search-box {
	padding: 20px;
	& > input[type='text'] {
		display: block;
		background-color: $dark-grey;
		border-radius: 20px;
		margin: 0 auto;
		border: none;
		padding: 20px 30px;
		color: white;
		font-size: 1.3em;
		font-family: $font-alt;
		transition: .8s ease;
		width: 270px;
		text-align: center;
		color: $red;
		max-width: 100%;
		box-sizing: border-box;
		&::placeholder {
			color: white;
		}
		&:focus {
			box-shadow: $red 0px 0px 15px 5px;
			outline: none;
			width: 350px;
			max-width: 100%;
			box-sizing: border-box;
			text-align: start;
			&::placeholder {
				color: $red;
			}
		}
		
	}
}

@media screen and (max-width: 800px) {
	.search-box {
		& > input[type='text'] {
			font-size: 1.1em;
		}
	}
}